
/* Add a gray background color with some padding */
body {
    padding-top: 56px;
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;

}

.recipy_card {
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


.column {
  float: left;
  width: 25%;
}

.recipe-details-item {
  float: left;
  /* width: 25%; */
}

.recipe-info-text-container {
    display: inline-block
}

.recipe-icon-container {
    display: inline-block;
}

.recipe-info-text-container {
    display: inline-block
}



/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}




* {
  box-sizing: border-box;
}


.mod-buttons{
    display: inline-block;
}


.recipe-details {
display: inline-block;
padding: 0px;
 }


.recipe-details-card {
     float: left;
 }
.ingredient_details {
  margin-bottom: 12px;
  margin-top: 12px;
  font-size: medium;
}

.instructions_details {
      margin-bottom: 12px;
  margin-top: 12px;
  font-size: medium;
}


/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

.recipy_img {
        max-height:500px;
    max-width:500px;
    height:auto;
    width:auto;
}

.form-boxxxxxxxx {
    width: 600px;}

.ingredients-form-box {
border: none;
width: 200px;
background-color: rgb(218, 218, 240);
padding-top: 3px;
}

.instructions-form-box {
border: none;
width: 100%;
background-color: rgb(218, 218, 240);
padding-top: 5px;
padding-bottom: 5px;

}

/* Error page styling start */

.error-code {
   margin-bottom: 20px;
  color: #facf5a;
  text-align: center;
  font-family: 'Raleway';
  font-size: 90px;
  font-weight: 800;
}

.error-text {
    color: #455d7a;
    text-align: center;
    font-family: 'Raleway';
    font-size: 30px;
    text-transform: uppercase;
}

.error-text-small {
    color: #455d7a;
    text-align: center;
    font-family: 'Raleway';
    font-size: 15px;
}

.error-button {
    background-color: #facf5a;
    color: #455d7a;
    /* display:  inline-block; */
    justify-content: center;
    font-family: 'Raleway';
}

/* Error page styling end */
