
/* Add a gray background color with some padding */
body {
    padding-top: 56px;
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;

}

.recipy_card {
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


.column {
  float: left;
  width: 25%;
}

.recipe-details-item {
  float: left;
  /* width: 25%; */
}

.recipe-info-text-container {
    display: inline-block
}

.recipe-icon-container {
    display: inline-block;
}

.recipe-info-text-container {
    display: inline-block
}



/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}




* {
  box-sizing: border-box;
}


.mod-buttons{
    display: inline-block;
}


.ingredient_tick_box_container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: small;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}




/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}