

/* Colour styling start */

body {
      background: #EBF2B6;
}


.calm-chaos-1-hex { color: #B6FF75; }
.color_1 {background: #CDD973;

}
.calm-chaos-2-hex { color: #81EB0B; }
.calm-chaos-3-hex { color: #CDFF82; }
.calm-chaos-4-hex { color: #BEE86B; }
.calm-chaos-5-hex { color: #DAFF75; }

.nav_colour {
    
    background-color: #2EC4B6
}

.fa-quote-right {
    float: right;
    color: #facf5a;
}

.fa-quote-left {
   color: #facf5a;
  }

  .card-footer {
    background-color: white;
    border-color: white;
}


/* Colour styling end */

/* Fonts styling start  */
.comments_text {
    font-style: italic;
}


/* Fonts styling end  */









.comments_container {
  width: 100%;
  padding: 20px;
}


.print_button {
    border-style: none;
    background-color: white;
    padding-left: 0px;
    padding-right: 0px;
}




.recipy_card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
     margin-top: 20px;
    margin-bottom: 20px;
    max-width: 300px;
    max-height: 300px;
}

.column {
  float: left;
  width: 25%;
}

.recipe-details-item {
  float: left;
}

.recipe-info-text-container {
    display: inline-block
}

.recipe-icon-container {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
}

.recipe-info-text-container {
    display: inline-block
}

.row:after {
  content: "";
  display: table;
  clear: both;
}




* {
  box-sizing: border-box;
}


.mod-buttons{
    display: inline-block;
}


.recipe-details {
display: inline-block;
padding: 0px;
 }


.recipe-details-card {
     float: left;
 }
.ingredient_details {
  margin-bottom: 12px;
  margin-top: 12px;
  font-size: medium;
}

.instructions_details {
      margin-bottom: 12px;
  margin-top: 12px;
  font-size: medium;
}



/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}




.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}


@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

.recipy_img {
    max-height:500px;
    max-width:500px;
    height:auto;
    width:auto;
  }



.ingredients-form-box {
border: none;
width: 200px;
background-color: rgb(218, 218, 240);
padding-top: 3px;
}

.instructions-form-box {
border: none;
width: 100%;
background-color: rgb(218, 218, 240);
padding-top: 5px;
padding-bottom: 5px;

}

/* Error page styling start */

.error-code {
   margin-bottom: 20px;
  color: #facf5a;
  text-align: center;
  font-family: 'Raleway';
  font-size: 90px;
  font-weight: 800;
}

.error-text {
    color: #455d7a;
    text-align: center;
    font-family: 'Raleway';
    font-size: 30px;
    text-transform: uppercase;
}

.error-text-small {
    color: #455d7a;
    text-align: center;
    font-family: 'Raleway';
    font-size: 15px;
}

.error-button {
    background-color: #facf5a;
    color: #455d7a;
    justify-content: center;
    font-family: 'Raleway';
}

/* Error page styling end */


.btn-ingredient{
    margin-top: 5px;
}

.nav-link {
    font-size: 15px;
    font-weight:  bold;      
}


.test-box {
    width: 100%;
    height: 25px;
}

.form-label {
      display: inline-block;
}


/* sidebar configuration  */
body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 1.8rem 1.5rem;
  padding-bottom: .45rem;
  font-size: 1.5rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

/* sidebar configuration  end*/