{% extends 'base.html'%}
{% block content %}


<div class="row">
	<div class="container">
		<form action="{{url_for('insert_recipe')}}" method="POST" class="col s12">
			<div class="container  card">
				<h1>Add Recipe</h1>
				<div class="form-group col-12">
					<div class="row">
						<div class="col-sm-2">
                            <label >Recipe Name:</label>
						</div>
						<div class="col-sm-2">
                            <input type="text" name="recipe_name" id="recipe_name" class="form-box" required="required">
						</div>
                        <div class="col-sm-2">
                            <label >Authors Name:</label>
						</div>
						<div class="col-sm-2">
                            <input type="text" name="authors_name" id="authors_name" class="form-box" required="required" >
						</div>
                        <div class="col-sm-2">
                            <label >Image Link:</label>
						</div>
						<div class="col-sm-2">
                            <input type="url" name="recipe_image" id="recipe_image" class="form-box" pattern="https?://.+" required="required">
						</div>
					</div>
					<div class="row">
                    	<div class="col-sm-2">
                            <label >Prep Time:</label>
						</div>
						<div class="col-sm-2">
                            <input type="number" name="preparation_time" id="preparation_time" class="form-box" required="required">
						</div>
                        <div class="col-sm-2">
                            <label >Cook Time:</label>
						</div>
						<div class="col-sm-2">
                            <input type="number" name="cooking_time" id="cooking_time" class="form-box" required="required">
						</div>
                        <div class="col-sm-2">
                            <label >Difficulity Rating:</label>
						</div>
						<div class="col-sm-2">
                            <select type="text" name="difficulty_rating" id="difficulty_rating" class="form-box" required="required">
                                    <option value="Basic">Basic</option>
                                    <option value="Intermediate">Intermediate</option>
                                    <option value="Advanced">Advanced</option>
                             </select>
						</div>
					</div>
				</div>
			</div>

			<div class="container card">
				<div class="form-row" id="ingredients-details">
					<div class="form-group col-12">
						<h2>Ingredients</h2>
						<input type="text" class="form-control " name="ingredient" id="ingredient"  required="required" >
						<input type="text" class="form-control " name="ingredient" id="ingredient"  >
						<input type="text" class="form-control " name="ingredient" id="ingredient"  >
						<button type="button" class="new-input-btn btn-ingredient"><i class="fa fa-plus" aria-hidden="true"></i></button>
						<button type="button" class="remove-input-btn btn-ingredient"><i class="fa fa-minus" aria-hidden="true"></i></button>
					</div>
				</div>
			</div>


			<div class="container card">
				<div class="form-row" id="method_steps-details">
					<div class="form-group col-12">
						<h2>Instructions</h2>
						<input type="text" class="form-control " name="method_step" id="method_step"  required="required" >
						<input type="text" class="form-control " name="method_step" id="method_step"  >
						<input type="text" class="form-control " name="method_step" id="method_step"  >
						<input type="text" class="form-control " name="method_step" id="method_step"  >
						<button type="button" class="new-method-btn btn-ingredient"><i class="fa fa-plus" aria-hidden="true"></i></button>
						<button type="button" class="remove-method-btn btn-ingredient"><i class="fa fa-minus" aria-hidden="true"></i></button>
					</div>
				</div>

				<div class="">
					<button class="btn btn-primary" type="submit" name="action">Submit</button>
					<button class="btn btn-primary" type="submit" name="action">Cancel</button>

				</div>
		</form>
	</div>
</div>

{% endblock %}