{% extends 'base.html'%}
{% block content %}

<h3>Edit Recipe</h3>
<div class="row">
	<form action="{{ url_for('update_recipe', recipe_id=recipe._id) }}" method="POST" class="col s12">
		<div class="row">
			<div class="input-field col s12">
				<input id="recipe_name" name="recipe_name" type="text" class='validate' value="{{recipe.recipe_name}}">
				<label for="icon_prefix"></label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea name="authors_name" id="authors_name" class="form-box">{{recipe.authors_name}}</textarea>
				<label for="icon_telephone"></label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea name="recipe_image" id="recipe_image" class="form-box">{{recipe.recipe_image}}</textarea>
				<label for="icon_telephone"></label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea name="preparation_time" id="preparation_time" class="form-box">{{recipe.preparation_time}}</textarea>
				<label for="icon_telephone"></label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea name="cooking_time" id="cooking_time" class="form-box">{{recipe.cooking_time}}</textarea>
				<label for="icon_telephone"></label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea name="difficulty_rating" id="difficulty_rating" class="form-box">{{recipe.difficulty_rating}}</textarea>
				<label for="icon_telephone"></label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea name="ingredients_1" id="ingredients_1" class="form-box">{{recipe.ingredients_1}}</textarea>
				<label for="icon_telephone"></label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea name="ingredients_2" id="ingredients_2" class="form-box">{{recipe.ingredients_2}}</textarea>
				<label for="icon_telephone"></label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea name="ingredients_3" id="ingredients_3" class="form-box">{{recipe.ingredients_3}}</textarea>
				<label for="icon_telephone"></label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea name="ingredients_4" id="ingredients_4" class="form-box">{{recipe.ingredients_4}}</textarea>
				<label for="icon_telephone"></label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea name="ingredients_5" id="ingredients_5" class="form-box">{{recipe.ingredients_5}}</textarea>
				<label for="icon_telephone"></label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea name="ingredients_6" id="ingredients_6" class="form-box">{{recipe.ingredients_6}}</textarea>
				<label for="icon_telephone"></label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea name="ingredients_7" id="ingredients_7" class="form-box">{{recipe.ingredients_7}}</textarea>
				<label for="icon_telephone"></label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea name="ingredients_8" id="ingredients_8" class="form-box">{{recipe.ingredients_8}}</textarea>
				<label for="icon_telephone"></label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea name="ingredients_9" id="ingredients_9" class="form-box">{{recipe.ingredients_9}}</textarea>
				<label for="icon_telephone"></label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea name="ingredients_10" id="ingredients_10" class="form-box">{{recipe.ingredients_10}}</textarea>
				<label for="icon_telephone"></label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea name="ingredients_11" id="ingredients_11" class="form-box">{{recipe.ingredients_11}}</textarea>
				<label for="icon_telephone"></label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea name="ingredients_12" id="ingredients_12" class="form-box">{{recipe.ingredients_12}}</textarea>
				<label for="icon_telephone"></label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea name="ingredients_13" id="ingredients_13" class="form-box">{{recipe.ingredients_13}}</textarea>
				<label for="icon_telephone"></label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea name="ingredients_14" id="ingredients_14" class="form-box">{{recipe.ingredients_14}}</textarea>
				<label for="icon_telephone"></label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea name="ingredients_15" id="ingredients_15" class="form-box">{{recipe.ingredients_15}}</textarea>
				<label for="icon_telephone"></label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea name="ingredients_16" id="ingredients_16" class="form-box">{{recipe.ingredients_16}}</textarea>
				<label for="icon_telephone"></label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea name="method_step_1" id="method_step_1" class="form-box">{{recipe.method_step_1}}</textarea>
				<label for="icon_telephone"></label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea name="method_step_2" id="method_step_2" class="form-box">{{recipe.method_step_2}}</textarea>
				<label for="icon_telephone"></label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea name="method_step_3" id="method_step_3" class="form-box">{{recipe.method_step_3}}</textarea>
				<label for="icon_telephone"></label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea name="method_step_4" id="method_step_4" class="form-box">{{recipe.method_step_4}}</textarea>
				<label for="icon_telephone"></label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea name="method_step_5" id="method_step_5" class="form-box">{{recipe.method_step_5}}</textarea>
				<label for="icon_telephone"></label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea name="method_step_6" id="method_step_6" class="form-box">{{recipe.method_step_6}}</textarea>
				<label for="icon_telephone"></label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea name="method_step_7" id="method_step_7" class="form-box">{{recipe.method_step_7}}</textarea>
				<label for="icon_telephone"></label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea name="method_step_8" id="method_step_8" class="form-box">{{recipe.method_step_8}}</textarea>
				<label for="icon_telephone"></label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea name="method_step_9" id="method_step_9" class="form-box">{{recipe.method_step_9}}</textarea>
				<label for="icon_telephone"></label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea name="method_step_10" id="method_step_10" class="form-box">{{recipe.method_step_10}}</textarea>
				<label for="icon_telephone"></label>
			</div>
		</div>













		<div class="row">
			<button class="btn waves-effect waves-light" type="submit" name="action">Edit Redipe
                <i class="material-icons right">playlist_add</i>
            </button>
		</div>
	</form>
</div>

{% endblock %}