{% extends 'base.html'%}
{% block content %}


<div class="row">
	<div class="container">
		<form action="{{ url_for('update_recipe', recipe_id=recipe._id) }}" method="POST" class="col s12">
			<div class="container card">
				<h1>Edit Recipe</h1>
				<div class="row">
					<div class="input-field col s12">
						<label for="icon_prefix">Recipe Name </label>
						<textarea name="recipe_name" id="recipe_name" class="form-box">{{recipe.recipe_name}}</textarea>
					</div>
					<div class="input-field col s12">
						<label >Authors Name</label>
						<textarea name="authors_name" id="authors_name" class="form-box">{{recipe.authors_name}}</textarea>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<label >Image Link</label>
						<textarea name="recipe_image" id="recipe_image" class="form-box">{{recipe.recipe_image}}</textarea>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<label > Prep Time</label>
						<textarea name="preparation_time" id="preparation_time" class="form-box">{{recipe.preparation_time}}</textarea>
					</div>
					<div class="input-field col s12">
						<label >Cook Time</label>
						<textarea name="cooking_time" id="cooking_time" class="form-box">{{recipe.cooking_time}}</textarea>
					</div>
					<div class="input-field col s12">
						<label >Difficulity Rating</label>
						<textarea name="difficulty_rating" id="difficulty_rating" class="form-box">{{recipe.difficulty_rating}}</textarea>
					</div>
				</div>
			</div>

			<div class="container card">
				<div class="form-row" id="ingredients-details">
					<div class="form-group col-12">
						<h2>Ingredients</h2>
						{% for ingredient in recipe.ingredients %}
						<input type="text" class="form-control " name="ingredient" id="ingredient" placeholder="{{ingredient}}" value="{{ingredient}}" minlength=8>
                        {% endfor %}
						<button type="button" class="new-input-btn btn-ingredient"><i class="fa fa-plus" aria-hidden="true"></i></button>
						<button type="button" class="remove-input-btn btn-ingredient"><i class="fa fa-minus" aria-hidden="true"></i></button>
					</div>
				</div>
			</div>


			<div class="container card">
				<div class="form-row" id="method_steps-details">
					<div class="form-group col-12">
						<h2>Instructions</h2>
						{% for method_step in recipe.method_steps %}
						<input type="text" class="form-control " name="method_step" id="method_step" placeholder="{{method_step}}" value="{{method_step}}" minlength=8>
                        {% endfor %}
                        <button type="button" class="new-method-btn btn-ingredient"><i class="fa fa-plus" aria-hidden="true"></i></button>
						<button type="button" class="remove-method-btn btn-ingredient"><i class="fa fa-minus" aria-hidden="true"></i></button>
					</div>
				</div>
		
				<div class="">
					<button class="btn btn-primary" type="submit" name="action">Submit</button>
                    <button class="btn btn-primary" type="submit" name="action">Cancel</button>

				</div>
		</form>
	</div>
</div>

{% endblock %}