{% extends 'base.html'%}
{% block content %}


<div class="row">
	<div class="container">
    		<form action="{{ url_for('update_recipe', recipe_id=recipe._id) }}" method="POST" class="col s12">

			<div class="container card">
            <h1>Edit Recipe</h1>
				<div class="row">
					<div class="input-field col s12">
						<label for="icon_prefix">Recipe Name </label>
						<textarea name="recipe_name" id="recipe_name" class="form-box">{{recipe.recipe_name}}</textarea>
					</div>
					<div class="input-field col s12">
						<label >Authors Name</label>
						<textarea name="authors_name" id="authors_name" class="form-box">{{recipe.authors_name}}</textarea>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<label >Image Link</label>
						<textarea name="recipe_image" id="recipe_image" class="form-box">{{recipe.recipe_image}}</textarea>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<label > Prep Time</label>
						<textarea name="preparation_time" id="preparation_time" class="form-box">{{recipe.preparation_time}}</textarea>
					</div>
					<div class="input-field col s12">
						<label >Cook Time</label>
						<textarea name="cooking_time" id="cooking_time" class="form-box">{{recipe.cooking_time}}</textarea>
					</div>
					<div class="input-field col s12">
						<label >Difficulity Rating</label>
						<textarea name="difficulty_rating" id="difficulty_rating" class="form-box">{{recipe.difficulty_rating}}</textarea>
					</div>
				</div>
			</div>

			<div class="container card">
				<h2>Ingredients</h2>
				<div class="row">
					<div class="input-field col s12">
						<label ></label>
						<textarea name="ingredients_1" id="ingredients_1"  class="ingredients-form-box">{{recipe.ingredients_1}}</textarea>
					</div>
					<div class="input-field col s12">
						<label ></label>
						<textarea name="ingredients_2" id="ingredients_2" class="ingredients-form-box">{{recipe.ingredients_2}}</textarea>
					</div>
					<div class="input-field col s12">
						<label ></label>
						<textarea name="ingredients_3" id="ingredients_3" class="ingredients-form-box">{{recipe.ingredients_3}}</textarea>
					</div>
					<div class="input-field col s12">
						<label ></label>
						<textarea name="ingredients_4" id="ingredients_4" class="ingredients-form-box">{{recipe.ingredients_4}}</textarea>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<label ></label>
						<textarea name="ingredients_5" id="ingredients_5" class="ingredients-form-box">{{recipe.ingredients_5}}</textarea>
					</div>
					<div class="input-field col s12">
						<label ></label>
						<textarea name="ingredients_6" id="ingredients_6" class="ingredients-form-box">{{recipe.ingredients_6}}</textarea>
					</div>
					<div class="input-field col s12">
						<label ></label>
						<textarea name="ingredients_7" id="ingredients_7" class="ingredients-form-box">{{recipe.ingredients_7}}</textarea>
					</div>
					<div class="input-field col s12">
						<label ></label>
						<textarea name="ingredients_8" id="ingredients_8" class="ingredients-form-box">{{recipe.ingredients_8}}</textarea>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<label ></label>
						<textarea name="ingredients_9" id="ingredients_9" class="ingredients-form-box">{{recipe.ingredients_9}}</textarea>
					</div>
					<div class="input-field col s12">
						<label ></label>
						<textarea name="ingredients_10" id="ingredients_10" class="ingredients-form-box">{{recipe.ingredients_10}}</textarea>
					</div>
					<div class="input-field col s12">
						<label ></label>
						<textarea name="ingredients_11" id="ingredients_11" class="ingredients-form-box">{{recipe.ingredients_11}}</textarea>
					</div>
					<div class="input-field col s12">
						<label ></label>
						<textarea name="ingredients_12" id="ingredients_12" class="ingredients-form-box">{{recipe.ingredients_12}}</textarea>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<label ></label>
						<textarea name="ingredients_13" id="ingredients_13" class="ingredients-form-box">{{recipe.ingredients_13}}</textarea>
					</div>
					<div class="input-field col s12">
						<label ></label>
						<textarea name="ingredients_14" id="ingredients_14" class="ingredients-form-box">{{recipe.ingredients_14}}</textarea>
					</div>
					<div class="input-field col s12">
						<label ></label>
						<textarea name="ingredients_15" id="ingredients_15" class="ingredients-form-box">{{recipe.ingredients_15}}</textarea>
					</div>
					<div class="input-field col s12">
						<label ></label>
						<textarea name="ingredients_16" id="ingredients_16" class="ingredients-form-box">{{recipe.ingredients_16}}</textarea>
					</div>
				</div>
			</div>


			<div class="container card">
				<h2>Instructions</h2>
				<div class="row">
					<div class="input-field col s12">
						<label class="">Step 1</label>
						<textarea name="method_step_1" id="method_step_1" class="instructions-form-box">{{recipe.method_step_1}}</textarea>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<label  class="">Step 2</label>
						<textarea name="method_step_2" id="method_step_2" class="instructions-form-box">{{recipe.method_step_2}}</textarea>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<label >Step 3</label>
						<textarea name="method_step_3" id="method_step_3" class="instructions-form-box">{{recipe.method_step_3}}</textarea>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<label >Step 4</label>
						<textarea name="method_step_4" id="method_step_4" class="instructions-form-box">{{recipe.method_step_4}}</textarea>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<label >Step 5</label>
						<textarea name="method_step_5" id="method_step_5" class="instructions-form-box">{{recipe.method_step_5}}</textarea>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<label >Step 6</label>
						<textarea name="method_step_6" id="method_step_6" class="instructions-form-box">{{recipe.method_step_6}}</textarea>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<label >Step 7</label>
						<textarea name="method_step_7" id="method_step_7" class="instructions-form-box">{{recipe.method_step_7}}</textarea>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<label >Step 8</label>
						<textarea name="method_step_8" id="method_step_8" class="instructions-form-box">{{recipe.method_step_8}}</textarea>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<label >Step 9</label>
						<textarea name="method_step_9" id="method_step_9" class="instructions-form-box">{{recipe.method_step_9}}</textarea>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<label >Step 10</label>
						<textarea name="method_step_10" id="method_step_10" class="instructions-form-box">{{recipe.method_step_10}}</textarea>
					</div>
				</div>














				<div class="row">
					<button class="btn btn-primary" type="submit" name="action">Submit</button>

				</div>
		</form>
	</div>
</div>

{% endblock %}