{% extends 'base.html'%}
{% block content %}

<div class="row">
	<div class="leftcolumn">
		<div class="card">

			<img src="{{recipe.recipe_image}}" class="recipy_img" alt="recipe image">

			<h1>{{recipe.recipe_name}}</h1>
			<div class="row">
				<section class="col-md-3 col-sm-6 col-xm-6 recipe-info-container">
					<div class="recipe-icon-container">
						<i class="far fa-clock fa-3x"></i>
					</div>
					<div class="recipe-info-text-container">
						<div>
							<strong>PREP TIME</strong>
						</div>
						<div>
							<strong>{{recipe.preparation_time}}</strong>
						</div>
					</div>
				</section>
				<section class="col-md-3 col-sm-6 col-xm-6 recipe-info-container">
					<div class="recipe-icon-container">
						<i class="far fa-clock fa-3x"></i>
					</div>
					<div class="recipe-info-text-container">
						<div>
							<strong>COOK TIME</strong>
						</div>
						<div>
							<strong>{{recipe.cooking_time}}</strong>
						</div>
					</div>
				</section>
				<section class="col-md-3 col-sm-6 col-xm-6 recipe-info-container">
					<div class="recipe-icon-container">
						<i class="fa fa-puzzle-piece fa-3x"></i>
					</div>
					<div class="recipe-info-text-container">
						<div>
							<strong>DIFFICULTY</strong>
						</div>
						<div>
							<strong>{{recipe.difficulty_rating}}</strong>
						</div>
					</div>
				</section>
				<section class="col-md-3 col-sm-6 col-xm-6 recipe-info-container">
					<div class="recipe-icon-container">
						<i class="fa fa-thumbs-o-up fa-3x"></i>
					</div>
					<div class="recipe-info-text-container">
						<div>
							<strong>LIKE RATING</strong>
						</div>
						<div>
							<strong>{{recipe.like_rating}}</strong>
						</div>
					</div>
				</section>
			</div>

			<hr>
			<div class="mod-buttons">
				<button type="button" class="btn  btn-warning">Edit Recipe</button>
				<button type="button" class="btn  btn-danger">Delete Recipe</button>
			</div>

		</div>





		<div class="card-deck">
			<div class="card recipe-details-card ">
				<div class="">
					<h2>Ingredients</h2>
					<div class="recipe-ingredients-headings">
						<div>
							<h3 class="ingredient_details">{{recipe.ingredients_1}}</h3>
							<h3 class="ingredient_details">{{recipe.ingredients_2}}</h3>
							<h3 class="ingredient_details">{{recipe.ingredients_3}}</h3>
							<h3 class="ingredient_details">{{recipe.ingredients_4}}</h3>
							<h3 class="ingredient_details">{{recipe.ingredients_5}}</h3>
							<h3 class="ingredient_details">{{recipe.ingredients_6}}</h3>
							<h3 class="ingredient_details">{{recipe.ingredients_7}}</h3>
							<h3 class="ingredient_details">{{recipe.ingredients_8}}</h3>
							<h3 class="ingredient_details">{{recipe.ingredients_9}}</h3>
							<h3 class="ingredient_details">{{recipe.ingredients_10}}</h3>
							<h3 class="ingredient_details">{{recipe.ingredients_11}}</h3>
							<h3 class="ingredient_details">{{recipe.ingredients_12}}</h3>
							<h3 class="ingredient_details">{{recipe.ingredients_13}}</h3>
							<h3 class="ingredient_details">{{recipe.ingredients_14}}</h3>
							<h3 class="ingredient_details">{{recipe.ingredients_15}}</h3>
							<h3 class="ingredient_details">{{recipe.ingredients_16}}</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="card recipe-details-card ">
				<div class="">
					<h2>Instructions</h2>
					<div class="recipe-ingredients-headings">
						<div>
							<h3 class="instructions_details">{{recipe.method_step_1}}</h3>
							<h3 class="instructions_details">{{recipe.method_step_2}}</h3>
							<h3 class="instructions_details">{{recipe.method_step_3}}</h3>
							<h3 class="instructions_details">{{recipe.method_step_4}}</h3>
							<h3 class="instructions_details">{{recipe.method_step_5}}</h3>
							<h3 class="instructions_details">{{recipe.method_step_6}}</h3>
							<h3 class="instructions_details">{{recipe.method_step_7}}</h3>
							<h3 class="instructions_details">{{recipe.method_step_8}}</h3>
							<h3 class="instructions_details">{{recipe.method_step_9}}</h3>
							<h3 class="instructions_details">{{recipe.method_step_10}}</h3>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="card my-4">
			<h2 class="">Leave a Comment:</h2>
			<div class="card-body">
				<form>
					<div class="form-group">
						<textarea class="form-control" rows="3"></textarea>
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
	</div>


	<div class="rightcolumn">
		<div class="card">
			<h2>About Me</h2>
			<div class="fakeimg" style="height:100px;">Image</div>
			<p>Some text about me in culpa qui officia deserunt mollit anim..</p>
		</div>
		<div class="card">
			<h3>Popular Post</h3>
			<div class="fakeimg">Image</div><br>
			<div class="fakeimg">Image</div><br>
			<div class="fakeimg">Image</div>
		</div>
		<div class="card">
			<h3>Follow Me</h3>
			<p>Some text..</p>
		</div>
	</div>
</div>












{% endblock %}