{% extends 'base.html'%}
{% block content %}

<div class="row">
	<div class="leftcolumn">
		<div class="card ">
			<img src="{{recipe.recipe_image}}" class="recipy_img " alt="recipe image">
			<h1 class="recipe_name">{{recipe.recipe_name}}</h1>
			<div class="row">
				<section class="col-md-3 col-sm-6 col-xm-6 recipe-info-container">
					<div class="recipe-icon-container">
						<i class="far fa-clock fa-3x"></i>
					</div>
					<div class="recipe-info-text-container">
						<div>
							<strong>PREP TIME</strong>
						</div>
						<div>
							<strong>{{recipe.preparation_time}}</strong>
						</div>
					</div>
				</section>
				<section class="col-md-3 col-sm-6 col-xm-6 recipe-info-container">
					<div class="recipe-icon-container">
						<i class="far fa-clock fa-3x"></i>
					</div>
					<div class="recipe-info-text-container">
						<div>
							<strong>COOK TIME</strong>
						</div>
						<div>
							<strong>{{recipe.cooking_time}}</strong>
						</div>
					</div>
				</section>
				<section class="col-md-3 col-sm-6 col-xm-6 recipe-info-container">
					<div class="recipe-icon-container">
						<i class="fa fa-puzzle-piece fa-3x"></i>
					</div>
					<div class="recipe-info-text-container">
						<div>
							<strong>DIFFICULTY</strong>
						</div>
						<div>
							<strong>{{recipe.difficulty_rating}}</strong>
						</div>
					</div>
				</section>
				<section class="col-md-3 col-sm-6 col-xm-6 recipe-info-container">
					<div class="recipe-icon-container">
						<button class="print_button" onclick="myFunction()"><i  class="fas fa-print fa-3x"></i></button>
					</div>
					<div class="recipe-info-text-container">
						<div>
							<strong>PRINT</strong>
						</div>
						<div>
							<strong> .</strong>
						</div>
					</div>
				</section>
			</div>
			<hr>
			<div class="mod-buttons">
				<a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" type="button" class="btn  btn-warning">Edit
					Recipe</a></button>
				<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#DeleteModal">Delete</button>
				<div class="modal" id="DeleteModal">
					<div class="modal-dialog">
						<div class="modal-content">
							<!-- Modal Header -->
							<div class="modal-header">
								<h4 class="modal-title">Warning you are about to delete a recipe</h4>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>
							<!-- Modal body -->
							<div class="modal-body">
								<p>Hi this is a test website which is being graded please do not maliciously delete
									any
									recipies</p>
							</div>
							<!-- Modal footer -->
							<div class="modal-footer">
								<a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}" type="button"
									class="btn   btn-danger">Delete Recipe</a>
								<button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
							</div>
						</div>
					</div>
				</div>



			</div>
		</div>
		<div class="card-deck">
			<div class="card recipe-details-card ">
				<div class="">
					<h2>Ingredients</h2>
					<div class="recipe-ingredients-headings">
						<div>
							<!--goes through ingredients array and displays-->
							{% for ingredient in recipe.ingredients %}
							<h3 class="ingredient_details">{{ingredient}} </h3>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<div class="card recipe-details-card ">
				<div class="">
					<h2>Instructions</h2>
					<div class="recipe-ingredients-headings">
						<div>
							<!--goes through ingredients array and displays-->
							{% for method_step in recipe.method_steps  %}
							<h3 class="ingredient_details">{{method_step}} </h3>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card my-4">
			<h2 class="">Leave a Comment:</h2>
			<div class="card-body">
				<form action="{{ url_for('insert_comment', recipe_id=recipe._id) }}" method="POST" class="col s12">

					<div class="form-group">
						<textarea name="comment"  id="comment" class="form-box col-12 " rows="4"  required="required" ></textarea>
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
					<a class="btn btn-primary" href="{{ url_for('about_recipe_details', recipe_id=recipe._id) }}"">Cancel</a>
					{% with messages = get_flashed_messages() %}
					{% if messages %}
					{% for message in messages %}
					<h3>{{ message}}</h3>
					{% endfor %}
					{% endif %}
					{% endwith %}
				</form>
			</div>
		</div>
	</div>
	<div class=" rightcolumn">
		<div class="card">
				<h2>Recipe Comments</h2>
				<hr>
				{% for comments  in comments %}
		    <div class="comments_container">
				<i class="fas fa-quote-left"></i>
				<h4 class="comments_text">{{comments.comment}}</h4>
				<i class="fas fa-quote-right"></i>
		    </div>
				<hr>
				{% endfor %}
		</div>
	</div>
</div>









<script>
function myFunction() {
    window.print();}
    </script>





		{% endblock %}