{% extends 'base.html'%}
{% block content %}



<div class="container">
	{% for recipe in recipe_data %}
	<div >
		{% if loop.index % 2 != 0 %}
		<div>
			<div class="card-deck col-md-6 col-lg-4 col-xl-4">
				<div class="card recipy_card">
					<img src="{{recipe.recipe_image}}" class="card-img-top" alt="recipe image">
					<div class="card-body">
						<h2 class="card-title">{{ loop.index}}. {{recipe.recipe_name}}</h2>
						<p class="card-text"></p>
						<a href="{{url_for('about_recipe_details', recipe_id=recipe._id)}}" class="btn btn-primary">Recipe</a>
					</div>
				</div>
			</div>
		</div>

		{% else %}
		<div class="card-deck col-md-6 col-lg-4 col-xl-4">
			<div class="card recipy_card">
				<img src="{{recipe.recipe_image}}" class="card-img-top" alt="recipe image">
				<div class="card-body">
					<h2 class="card-title">{{ loop.index}}. {{recipe.recipe_name}}</h2>
					<p class="card-text"></p>
					<a href="{{url_for('about_recipe_details', recipe_id=recipe._id)}}" class="btn btn-primary">Recipe</a>
				</div>
			</div>
		</div>

		{% endif %}
	</div>
	{% if loop.index != 13 %}

	{%endif %}


	{% endfor %}


</div>


{% endblock %}